*{
    margin: 0;
    padding: 0;
}

/* navbar */
.navbar{
    display: flex;
    align-items: center;
    position: relative;
}
.navbar::before{
    content: "";
    z-index: -1;
    width: 100%;
    position: absolute;
    background-color:black;
    opacity:0.4;
    height: 100%;
}

.logo img{
    height: 100px;
    margin-left:  10px ;
    margin-top: 10px;
    margin-right: 10px;
    max-width: 3px 6px;
    border-radius: 50%;
    border: 1px solid black;
}
.navbar ul{
    display: flex;
}
.navbar ul li{
    list-style: none;
    font-size: 1.3rem;
}
.navbar ul li a{
    display: block;
    padding: 3px 22px;
    border-radius: 22px;
    text-decoration: none;
    color: white;
}
.navbar ul li a:hover{
    color: green;
    background-color: white;
}

/* home section */
.home{
    display: flex;
    flex-direction: column;
    padding: 1px 300px;
    justify-content: center;
    align-items: center;
    height: 690px;
    color: white;

}
/* google font property start */
.slabo-27px-regular {
    font-family: "Slabo 27px", serif;
    font-weight: 400;
    font-style: normal;
  }
/* google font property start end*/
  
.home h1{
    text-align: center;
}
.home p{
    text-align: center;
    font-size: 1.2rem;
}

.home::before{
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: -1;
    background: url(img/banner.jpg) ;
    background-size: cover;
    opacity: 0.90;
}
/* services section */
#services{
    display: flex;
    margin: 34px;
    justify-content: space-evenly;
}
#services .box{
    border:  1px solid rgb(22, 18, 19);
    padding: 34px;
    border-radius: 20px;
    margin: 3px 6px;

}
#services .box img{
    height: 300px;
    margin: auto;
    display: block;
}
#services{}

/* utility classes */
.h-primary{
    font-size: 2.8rem;
    padding: 12px;
    margin-top: 30px;
}
.h-secoundary{
    font-size: 1.8rem;
    padding: 12px;
}
.btn{
    margin-top: 15px;
    padding: 6px 20px;
    border:  2px solid black;
    background-color: rgb(234, 223, 207);
    color: rgb(160, 54, 82);
    font-weight: 700;
    font-size: 1.0em;
    border-radius: 10px;
    cursor:pointer;
}
.center{
    text-align: center;
}
